* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto";
}

.container {
  width: 1130px;
  max-width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

li {
  list-style: none;
}

.modal {
  z-index: 1000;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #e5e5e5;
  display: none;
}

.modal .close_btn {
  position: absolute;
  border: none;
  background-color: transparent;
  top: 5%;
  left: 75%;
}

.modal .close_btn:hover {
  cursor: pointer;
}

.modal__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
  color: #036db9;
  margin-bottom: 32px;
}

.modal__form {
  padding: 50px 0 50px 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  height: 487px;
  background-color: #fff;
  border-radius: 12px;
}

.modal__form label {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 24px;
}

.modal__form label input {
  display: block;
  margin-top: 8px;
  width: 350px;
  height: 60px;
  left: 785px;
  top: 445px;
  padding-left: 20px;
  font-size: 20px;
  border: 1px solid #c1cad6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
}

.modal__form button {
  width: 350px;
  height: 70px;
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(#81d100), to(#71b800));
  background: linear-gradient(90deg, #81d100 0%, #71b800 100%);
  -webkit-box-shadow: 0px 10px 15px rgba(129, 209, 0, 0.3);
          box-shadow: 0px 10px 15px rgba(129, 209, 0, 0.3);
  border-radius: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.modal__form button:hover {
  cursor: pointer;
}

.modal__form button img {
  margin-left: 16px;
}

.open_modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 20% 24% 25%;
      grid-template-columns: 25% 20% 24% 25%;
  -webkit-column-gap: 2%;
          column-gap: 2%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 0;
}

.nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .logo img {
  margin-right: 16px;
}

.nav .logo .el {
  font-weight: 900;
  font-size: 35px;
  line-height: 36px;
  color: #036db9;
}

.nav .logo .in {
  font-weight: 900;
  font-size: 35px;
  line-height: 36px;
  color: #81d100;
}

.nav__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__text img {
  margin-right: 24px;
}

.nav__text p {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #939aa3;
}

.nav__telegram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__telegram img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.nav__telegram p {
  margin-top: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #036db9;
}

.nav__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__call img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.nav__call p {
  margin-top: 5px;
  font-size: 24px;
  line-height: 29px;
  color: #939aa3;
}

.nav__call p span {
  color: #036DB9;
  font-weight: 700;
}

@media (max-width: 1110px) {
  .nav__call p {
    font-size: 20px;
  }
}

@media (max-width: 1000px) {
  .nav__text p {
    font-size: 12px;
  }
  .nav .logo .el {
    font-size: 24px;
  }
  .nav__call p {
    font-size: 15px;
  }
}

@media (max-width: 800px) {
  .nav {
    -ms-grid-columns: 30% 30% 30%;
        grid-template-columns: 30% 30% 30%;
    -webkit-column-gap: 3%;
            column-gap: 3%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__telegram {
    display: none;
  }
}

@media (max-width: 600px) {
  .nav {
    -ms-grid-columns: 45% 45%;
        grid-template-columns: 45% 45%;
    -webkit-column-gap: 8%;
            column-gap: 8%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__call {
    display: none;
  }
}

@media (max-width: 480px) {
  .nav__text {
    display: none;
  }
  .nav {
    -ms-grid-columns: 90%;
        grid-template-columns: 90%;
  }
  .logo {
    display: block;
    margin: 0 auto;
  }
  .nav .logo .el {
    font-size: 35px;
  }
}

.intro {
  background-image: url(../images/top_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro__body {
  padding: 100px 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro__left {
  width: 50%;
  margin-right: 89px;
}

.intro__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  color: #ffffff;
  margin-bottom: 48px;
}

.intro__card_wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 30% 30%;
      grid-template-columns: 30% 30% 30%;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.intro__card_wrapper p {
  margin-top: 16px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.intro__card_wrapper span {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
}

@media (max-width: 1000px) {
  .intro__title {
    font-size: 40px;
  }
  .intro__card_wrapper p {
    font-size: 14px;
  }
  .intro__right img {
    width: 80%;
    height: 80%;
  }
}

@media (max-width: 900px) {
  .intro__title {
    font-size: 25px;
    line-height: 45px;
  }
  .intro__right img {
    width: 70%;
    height: 70%;
  }
}

@media (max-width: 700px) {
  .intro__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .intro__left {
    width: 80%;
    margin-right: 0px;
  }
  .intro__title {
    text-align: center;
    font-size: 40px;
    line-height: 51px;
  }
  .intro__card_wrapper {
    text-align: center;
  }
  .intro__right {
    text-align: center;
  }
}

@media (max-width: 450px) {
  .intro__body {
    padding: 50px 0;
  }
  .intro__title {
    font-size: 26px;
    line-height: 38px;
  }
  .intro__right {
    margin-top: 15px;
  }
}

.products {
  background-image: url(../images/pr_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 70px;
}

.products__title {
  text-align: center;
}

.products__title h2 {
  font-weight: 900;
  font-size: 45px;
  line-height: 55px;
  text-align: center;
  color: #036db9;
}

.products__title p {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #939aa3;
}

.products__wrapper {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 30% 30%;
      grid-template-columns: 30% 30% 30%;
  -webkit-column-gap: 4%;
          column-gap: 4%;
  row-gap: 2%;
}

.products__card {
  padding-bottom: 32px;
  position: relative;
  background-image: url(../images/blue_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
}

.products__card p {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}

.products__card .bg_circle {
  -webkit-transform: translateX(6%);
          transform: translateX(6%);
  width: 100%;
}

.products__card .pr {
  position: absolute;
  top: 13%;
  left: 29%;
  z-index: 1;
}

.products .down_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 278px;
  height: 70px;
  margin: 0 auto;
  margin-top: 100px;
  background: -webkit-gradient(linear, left top, right top, from(#81d100), to(#71b800));
  background: linear-gradient(90deg, #81d100 0%, #71b800 100%);
  -webkit-box-shadow: 0px 10px 15px rgba(129, 209, 0, 0.3);
          box-shadow: 0px 10px 15px rgba(129, 209, 0, 0.3);
  border-radius: 35px;
  border: none;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.products .down_price img {
  margin-right: 16px;
}

.products .down_price:hover {
  cursor: pointer;
}

@media (max-width: 900px) {
  .products__card .bg_circle {
    -webkit-transform: translateX(1%);
            transform: translateX(1%);
  }
  .products__card .pr {
    width: 60%;
    top: 10%;
    left: 22%;
  }
}

@media (max-width: 768px) {
  .products__wrapper {
    -ms-grid-columns: 48% 48%;
        grid-template-columns: 48% 48%;
    -webkit-column-gap: 4%;
            column-gap: 4%;
  }
  .products .down_price {
    margin-top: 160px;
  }
}

@media (max-width: 425px) {
  .products__wrapper {
    -ms-grid-columns: 90%;
        grid-template-columns: 90%;
    -webkit-column-gap: 0;
            column-gap: 0;
    row-gap: 1%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .products__title h2 {
    font-size: 32px;
  }
  .products .down_price {
    margin-top: 325px;
  }
}

.reason {
  background-color: #f0f2f5;
}

.reason__body {
  padding: 70px 0;
}

.reason__title {
  font-weight: 900;
  font-size: 45px;
  line-height: 55px;
  text-align: center;
  color: #036db9;
  margin-bottom: 50px;
}

.reason__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 32% 32% 32%;
      grid-template-columns: 32% 32% 32%;
  -webkit-column-gap: 2%;
          column-gap: 2%;
  row-gap: 5%;
}

.reason__card_img {
  position: relative;
}

.reason__bg {
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
}

.reason__blur {
  position: absolute;
  top: 7%;
  left: 13%;
}

.reason__img {
  position: absolute;
  top: 18%;
  left: 27%;
}

.reason__card_text {
  margin-top: 50px;
  text-align: center;
}

.reason__card_text h4 {
  margin-bottom: 8px;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #036db9;
}

.reason__card_text p {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
}

@media (max-width: 900px) {
  .reason__title {
    font-size: 40px;
  }
  .reason__bg {
    width: 80%;
  }
  .reason__blur {
    width: 80%;
  }
  .reason__img {
    width: 54%;
  }
}

@media (max-width: 768px) {
  .reason__wrapper {
    -ms-grid-columns: 45% 45%;
        grid-template-columns: 45% 45%;
    -webkit-column-gap: 2%;
            column-gap: 2%;
    row-gap: 2%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 425px) {
  .reason__title {
    font-size: 31px;
    line-height: 45px;
  }
  .reason__wrapper {
    -ms-grid-columns: 90%;
        grid-template-columns: 90%;
    -webkit-column-gap: 0%;
            column-gap: 0%;
    row-gap: 0%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .reason__card {
    margin-bottom: 20px;
  }
}

.experts__body {
  padding-top: 48px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45% 45%;
      grid-template-columns: 45% 45%;
  -webkit-column-gap: 4%;
          column-gap: 4%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.experts__left {
  padding-top: 52px;
}

.experts__title {
  font-weight: 900;
  font-size: 45px;
  line-height: 55px;
  color: #036db9;
}

.experts__wrapper {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 48% 48%;
      grid-template-columns: 48% 48%;
  -webkit-column-gap: 4%;
          column-gap: 4%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.experts__card p {
  margin-top: 16px;
  font-weight: bold;
  font-size: 15px;
  line-height: 19px;
  color: #000000;
}

.experts__call {
  margin-top: 50px;
  width: 382px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, right top, from(#81d100), to(#71b800));
  background: linear-gradient(90deg, #81d100 0%, #71b800 100%);
  -webkit-box-shadow: 0px 10px 15px rgba(129, 209, 0, 0.3);
          box-shadow: 0px 10px 15px rgba(129, 209, 0, 0.3);
  border-radius: 35px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  border: none;
  color: #ffffff;
}

.experts__call:hover {
  cursor: pointer;
}

.experts__call img {
  margin-right: 12px;
}

.experts__right {
  position: relative;
}

.experts__right .elec_line {
  width: 100%;
}

.experts__right .electric {
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 900px) {
  .experts__call {
    width: 320px;
    font-size: 16px;
  }
  .experts__title {
    font-size: 42px;
  }
  .experts__right .electric {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .experts__call {
    width: 243px;
    font-size: 13px;
  }
  .experts__title {
    font-size: 32px;
  }
  .experts__card p {
    font-size: 12px;
  }
  .experts__right .electric {
    width: 60%;
    top: 48px;
    left: 20px;
  }
}

@media (max-width: 500px) {
  .experts__body {
    -ms-grid-columns: 90%;
        grid-template-columns: 90%;
    -webkit-column-gap: 0%;
            column-gap: 0%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .experts__title {
    text-align: center;
  }
  .experts__card p {
    font-size: 17px;
  }
  .experts__call {
    width: 300px;
    font-size: 16px;
    margin: 20px auto;
  }
  .experts__right .electric {
    width: 50%;
    top: 10px;
    left: 20px;
  }
}

.service {
  padding-top: 66px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.service__left {
  background-image: url(../images/service.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.service__right {
  position: relative;
  padding: 120px 0 100px 30px;
  background-image: url(../images/ser1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #036db9;
}

.service__right .bolt1 {
  width: 15%;
  position: absolute;
  top: 3%;
  left: 33%;
}

.service__right .bolt2 {
  width: 15%;
  position: absolute;
  top: 3%;
  right: 1%;
}

.service__right .bolt3 {
  width: 15%;
  position: absolute;
  bottom: 0%;
  left: 57%;
}

.service__right .drill {
  position: absolute;
  left: 55%;
  bottom: -7%;
  width: 45%;
}

.service__right .atverka {
  width: 42%;
  position: absolute;
  bottom: -17%;
  left: 15%;
}

.service__right .ploski {
  width: 42%;
  position: absolute;
  top: -9%;
  left: 45%;
}

.service__right .gayka {
  width: 15%;
  left: 53%;
  top: 46%;
  position: absolute;
}

.service__text {
  width: 60%;
  text-align: left;
}

.service__list {
  margin-top: 26px;
}

.service__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.service__list li img {
  margin-right: 12px;
}

.service__list li p {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.service__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 46px;
  color: #ffffff;
}

@media (max-width: 900px) {
  .service__title {
    font-size: 27px;
    line-height: 40px;
  }
  .service__right .ploski {
    top: -5%;
  }
  .service__right .atverka {
    bottom: -10%;
  }
}

@media (max-width: 768px) {
  .service__right .drill {
    bottom: 12%;
  }
  .service__right .ploski {
    top: -5%;
  }
  .service__right .atverka {
    bottom: 1%;
  }
}

@media (max-width: 500px) {
  .service {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 100%;
        grid-template-rows: 100%;
    padding-top: 9px;
  }
  .service__left {
    display: none;
  }
  .service__title {
    text-align: center;
  }
}

.projects {
  overflow-x: hidden;
  padding: 40px 0 70px;
}

.our_work {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our_work .d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our_work .work_main_item {
  width: 280px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 106px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 5;
}

.our_work .work_main_item h2 {
  font-weight: 900;
  font-size: 45px;
  line-height: 55px;
  color: #036DB9;
}

.our_work .work_main_item .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our_work .work_main_item .buttons .our_work_button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #C0CAD6;
  cursor: pointer;
}

.our_work .work_main_item .buttons .our_work_button i {
  color: #C0CAD6;
  font-size: 25px;
  pointer-events: none;
}

.our_work .work_main_item .buttons .our_work_button:hover {
  background-color: #65A401;
  border: none;
}

.our_work .work_main_item .buttons .our_work_button:hover i {
  color: #fff;
}

.our_work .carousel-items {
  position: relative;
  width: 100%;
}

.our_work .carousel-items .work_carousel_item {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  -webkit-transition: 200ms;
  transition: 200ms;
  width: 28%;
  height: auto;
}

.our_work .carousel-items .work_carousel_item.d-none {
  display: none;
}

.our_work .carousel-items .work_carousel_item.blur {
  opacity: 0.5;
}

.our_work .carousel-items .work_carousel_item img {
  width: 100%;
}

@media (max-width: 1000px) {
  .blur {
    display: none;
  }
  .our_work .work_main_item h2 {
    font-size: 236%;
    line-height: 44px;
  }
  .our_work .work_main_item {
    padding-top: 5px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.products {
  background-image: url(../images/pr_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 70px;
}

.products__title {
  text-align: center;
}

.products__title h2 {
  font-weight: 900;
  font-size: 45px;
  line-height: 55px;
  text-align: center;
  color: #036db9;
}

.products__title p {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #939aa3;
}

.products__wrapper {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 30% 30%;
      grid-template-columns: 30% 30% 30%;
  -webkit-column-gap: 4%;
          column-gap: 4%;
  row-gap: 2%;
}

.products__card {
  padding-bottom: 32px;
  position: relative;
  background-image: url(../images/blue_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
}

.products__card p {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}

.products__card .bg_circle {
  -webkit-transform: translateX(6%);
          transform: translateX(6%);
  width: 100%;
}

.products__card .pr {
  position: absolute;
  top: 13%;
  left: 29%;
  z-index: 1;
}

.products .down_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 278px;
  height: 70px;
  margin: 0 auto;
  margin-top: 100px;
  background: -webkit-gradient(linear, left top, right top, from(#81d100), to(#71b800));
  background: linear-gradient(90deg, #81d100 0%, #71b800 100%);
  -webkit-box-shadow: 0px 10px 15px rgba(129, 209, 0, 0.3);
          box-shadow: 0px 10px 15px rgba(129, 209, 0, 0.3);
  border-radius: 35px;
  border: none;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.products .down_price img {
  margin-right: 16px;
}

.products .down_price:hover {
  cursor: pointer;
}

@media (max-width: 900px) {
  .products__card .bg_circle {
    -webkit-transform: translateX(1%);
            transform: translateX(1%);
  }
  .products__card .pr {
    width: 60%;
    top: 10%;
    left: 22%;
  }
}

@media (max-width: 768px) {
  .products__wrapper {
    -ms-grid-columns: 48% 48%;
        grid-template-columns: 48% 48%;
    -webkit-column-gap: 4%;
            column-gap: 4%;
  }
  .products .down_price {
    margin-top: 160px;
  }
}

@media (max-width: 425px) {
  .products__wrapper {
    -ms-grid-columns: 90%;
        grid-template-columns: 90%;
    -webkit-column-gap: 0;
            column-gap: 0;
    row-gap: 1%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .products__title h2 {
    font-size: 32px;
  }
  .products .down_price {
    margin-top: 325px;
  }
}

.about {
  background-color: #f0f2f5;
  padding: 70px 0;
}

.about__title {
  font-size: 45px;
  line-height: 55px;
  text-align: center;
  color: #036db9;
  margin-bottom: 50px;
}

.about__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 30% 30%;
      grid-template-columns: 30% 30% 30%;
  -webkit-column-gap: 2%;
          column-gap: 2%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__card:hover {
  cursor: pointer;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.about__card:hover .blue_sms {
  -webkit-transition: 500ms;
  transition: 500ms;
  opacity: 1;
}

.about__card:hover .play_btn {
  -webkit-transition: 500ms;
  transition: 500ms;
  opacity: 1;
}

.about__card:hover .about_avatar {
  -webkit-transition: 500ms;
  transition: 500ms;
  opacity: 0.7;
}

.about__card:hover .about__card_name h4 {
  -webkit-transition: 500ms;
  transition: 500ms;
  color: #036db9;
}

.about__card:hover .about__card_name h2 {
  -webkit-transition: 500ms;
  transition: 500ms;
  color: #036db9;
}

.about__card_img {
  position: relative;
}

.about__card_img .white_sms {
  width: 100%;
}

.about__card_img .blue_sms {
  opacity: 0;
  width: 109%;
  position: absolute;
  top: -2%;
  left: -5%;
}

.about__card_img .play_btn {
  opacity: 0;
  position: absolute;
  top: 30%;
  left: 40%;
}

.about__card_img .about_avatar {
  position: absolute;
  width: 90%;
  top: 7%;
  left: 5%;
}

.about__card_name {
  margin-top: 12px;
}

.about__card_name h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.about__card_name h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

@media (max-width: 500px) {
  .about__wrapper {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    row-gap: 2%;
  }
  .about__title {
    font-size: 27px;
    line-height: 0px;
  }
  .about__card_name {
    text-align: center;
  }
}

.partners {
  padding-top: 70px;
}

.carousel {
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carousel .carousel-items {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 400px;
}

.carousel .carousel-items h2 {
  font-weight: 900;
  font-size: 45px;
  line-height: 55px;
  text-align: center;
  color: #036db9;
}

.carousel .carousel-items .carousel-item {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  -webkit-transition: 200ms;
  transition: 200ms;
  width: 20%;
  height: 120px;
  background-color: #F0F2F5;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel .carousel-items .carousel-item img {
  width: 60%;
  height: auto;
}

.carousel .carousel-items-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 1px solid #E5E5E5;
  cursor: pointer;
}

.carousel .carousel-items-arrow:hover {
  background-color: #81D100;
}

.carousel .carousel-items-arrow:hover i {
  color: #fff;
}

.carousel .carousel-items-arrow i {
  font-size: 24px;
  color: #E5E5E5;
  pointer-events: none;
}

.carousel .carousel-items-arrow.arrow-prev {
  left: 3%;
}

.carousel .carousel-items-arrow.arrow-next {
  right: 3%;
}

@media (max-width: 768px) {
  .carousel .carousel-items h2 {
    font-size: 200%;
  }
}

@media (max-width: 425px) {
  .carousel .carousel-items h2 {
    font-size: 150%;
    line-height: 40px;
  }
}

.contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.contact__left .map {
  width: 100%;
  height: 100%;
}

.contact__right {
  background-image: url(../images/contact_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0 100px 30px;
}

.contact__list {
  width: 80%;
  text-align: left;
}

.contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 32px;
}

.contact__item img {
  margin-right: 15px;
}

.contact__title p {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #81d100;
  margin-bottom: 4px;
}

.contact__title h6 {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.contact__socials {
  margin-top: 9px;
}

.contact__socials i {
  font-size: 32px;
  color: #ffffff;
  margin-right: 12px;
}

.contact__socials i:hover {
  color: #87C600;
}

@media (max-width: 650px) {
  .contact__socials i {
    font-size: 20px;
    margin-right: 8px;
  }
  .contact__title h6 {
    font-size: 16px;
  }
}

@media (max-width: 425px) {
  .contact {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .contact__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact__socials i {
    font-size: 32px;
    margin-right: 12px;
  }
  .contact__title h6 {
    font-size: 21px;
  }
}

.questions {
  padding: 70px 0;
}

.questions hr {
  margin-bottom: 24px;
}

.questions__title {
  font-weight: 900;
  font-size: 45px;
  line-height: 55px;
  text-align: center;
  color: #036db9;
  margin-bottom: 50px;
}

.questions__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 24px;
}

.questions .opacity0 {
  opacity: 0;
}

.questions__text .Q {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 12px;
}

.questions__text .A {
  opacity: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.questions .opacity1 {
  opacity: 1;
}

.questions__button {
  position: relative;
}

.questions__button img {
  pointer-events: none;
}

.questions__button:hover {
  cursor: pointer;
}

.questions__button .minus {
  position: absolute;
  top: 30%;
}

@media (max-width: 425px) {
  .questions__title {
    font-size: 30px;
  }
}

.footer {
  background-color: #141d29;
}

.footer__body {
  padding: 32px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 17% 22% 20% 13%;
      grid-template-columns: 17% 22% 20% 13%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__socials i {
  font-size: 32px;
  color: #ffffff;
}

.footer__socials i:hover {
  color: #87c600;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__phone p {
  font-size: 24px;
  line-height: 29px;
  color: #939aa3;
}

.footer__phone p span {
  color: #fff;
  font-weight: 700px;
}

.footer__sayt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__sayt p {
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

@media (max-width: 900px) {
  .footer__phone p {
    font-size: 17px;
  }
  .footer__socials i {
    font-size: 23px;
  }
  .footer__sayt p {
    font-size: 12px;
  }
  .footer__logo img {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .footer__phone p {
    font-size: 13px;
  }
}

@media (max-width: 500px) {
  .footer__body {
    -ms-grid-columns: 40% 40%;
        grid-template-columns: 40% 40%;
    row-gap: 15%;
  }
  .footer__phone p {
    font-size: 17px;
  }
  .footer__sayt p {
    font-size: 20px;
  }
}

@media (max-width: 425px) {
  .footer__body {
    -ms-grid-columns: 90%;
        grid-template-columns: 90%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 120px;
  }
  .footer__sayt p {
    font-size: 33px;
  }
  .footer__logo .rec {
    width: 33%;
  }
  .footer__phone p {
    font-size: 27px;
  }
  .footer__sayt p {
    font-size: 20px;
  }
  .footer__socials i {
    font-size: 40px;
  }
}
/*# sourceMappingURL=style.css.map */